.form-control-text-area {
  height: 200px;
  width: 100%;
  border-color: lightgray;
  outline: none;
}
input.form-control {
  padding: 15px;
}
i.las {
  font-size: 36px;
  color: rgb(107, 107, 245);
}
h5 {
  font-size: 16px;
}
.col-12-btn {
  text-align: right;
}
